*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.run.xml
*.synctex.gz
*.bcf
*.out
*.dvi
*.json
*.swp
*.toc
*.pdf
*.tdo
videos/*
*.gls
*.glg
*.glo
*.nls
*.nlg
*.nlo
*.ilg
*.ist
*.glsdefs
*.nav
*.vrb
*.snm
